<div class="">

  <div class="erb_header">
    <h3>Edit Account</h3>
  </div>

  <form class="form-horizontal" action="/accounts/<%= @account.id %>" method="post">

    <div class="form-group">
      <input class="form-control" name="_method" type="hidden" value="patch" />
    </div>

    <!-- ## Form content moved to partial (_form_fields.erb) -->
    <%= erb :'accounts/_form_fields', layout: false %>

    <button class="btn btn-success" name="commit" type="submit">Update Account</button>
  </form>

</div>
